@import "rull.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
  font-style: normal;
  font-family: lato;
}
header {
  color: #1E212C;
  font-size: 46px;
  font-family: Lato;
  font-weight: 900;
  font-style: normal;
}
p.vulputate  {
  color: #1E212C ;
  font-size: 20px;
  font-family: Lato;
  font-weight: bold;
  font-style: normal;
  line-height: 150%;
}
p.at-facilisi {
  color:  #424551;
  font-size: 16px;
  font-family: Lato;
  font-weight: normal;
  font-style: normal;
  line-height: 25,6px; 
}
p.amet {
  color: #1E212C;;
  font-size: 20px;
  font-family: Lato;
  font-weight: bold;
  font-style: normal;
  line-height: 150%;
}
.mauris, 
.enim {
  color: #424551;
  font-size: 16px;
  font-family: Lato;
  font-weight: normal;
  font-style: normal;
  line-height: 25,6px; 
}
ul li {
  color:  #424551;
  font-size: 16px;
  font-family: Lato;
  font-weight: normal;
  font-style: normal;
  line-height: 25,6px; 
}